/* 
자손/후손 선택자
자손/후손 선택자란, 특정 요소 내부에 있는 모든 하위 요소들을
선택할 때에 사용합니다.
https://hoazzinews.tistory.com/105

*/
/* 
기본문법\
부모 선택자 자식 선택자 {
    속성: 속성값

}    



*/
/* 후손 선택자 */
/* div p{ */
/*  */
/* color : blue; */
/* } */

/* 자손 선택자 */
/* div > p{ */
/* color : green; */
/* } */
/* 자손 선택자를 이용해서  a 요소 찾아보자 */
div > section > p > a{
text-decoration: none;
}

/* 
div > section > p > a { . . .} --> div를 기준으로 후손 선택자로 변경
*/

   div a {
    text-decoration : none;

}  

div a.google {
  font-size: 1.2em;
}








































































































































































































































































































































