/*
id 선택자
id 선택자란 , HTML 요소의 id 속성값을 기준으로 스타일을 적용하는 선택자입니다.
https://hoazzinews.tistory.com/101
*/

/* div { */
   /* color:red; */
/*  */
/* } */
/* 
  기본 문법
#id이름{

    속성: 속성값;
  }    
*/
#div01{

   color:orange;

}
#div02{


   color:skyblue;


}
